.root {
    -fx-background-color: #2b2b2b;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
}
.tool-card {
    -fx-pref-width: 160px;
    -fx-pref-height: 120px;
    -fx-font-size: 14px;
    -fx-background-radius: 12;
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.tool-card:hover {
    -fx-background-color: #4b4f52;
}

